Repository JulienChantail/Web-page: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, htmlhint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0  # Utilise la derni√®re version stable
    hooks:
      - id: check-added-large-files
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: pylint
        name: Pylint
        entry: pylint
        language: system
        types: [python]
        files: ^.*\.py$

      - id: htmlhint
        name: HTMLHint
        entry: htmlhint
        language: system
        types: [text]
        files: ^.*\.html$

Ajout des loggings
  run_server.py
Due: pylint

Ajout de la license
  LICENSE.txt
Due: none

Ajout des conditions de la licence dans README
  README.md
Due: none

docs files creation
  docs/index.html
  docs/run_server.html
  docs/search.js
  docs/test_server.html
Due: htmlhint

docs files creation / tutorial cretion for login page use
  docs/tutorials/tutorial.md
Due: none

unit tests for a matrix of 2 or 3
  .github/workflows/test.yml
Due: none

automate the publication of your documentation with GitHub pages
  .github/workflows/ci.yml
  .github/workflows/pages.yml
  .github/workflows/release.yml
  __pycache__/run_server.cpython-310.pyc
  docs/run_server.html
  docs/test_server.html
Due: htmlhint
